@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --font-padrao: Arial, Helvetica, sans-serif;
    --font-especial: "Saira", sans-serif;
    --text-cor-padrao: white;
    --text-cor-especial: rgb(21, 198, 230);
    --cor-fundo: rgb(32, 32, 54); 
}

* {
    color: var(--text-cor-padrao);
    font-family: var(--font-padrao);
    padding: 0px;
    margin: 0px;
}

body {
    background-color: var(--cor-fundo);
}

header {
    padding: 0.5rem 3rem;
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    /* background-color: var(--cor-fundo); */
}

.headerTitulo {
    font-family: var(--font-especial);
    color: var(--text-cor-especial);
}

.lista {
    display: flex;
    gap: 3rem;
    list-style: none;
}

.lista > li > .nav-item {
    text-decoration: none;
    font-family: var(--font-padrao);
    color: var(--text-cor-padrao);
}

/*----------------------------------*/